@charset "UTF-8";
/* ---------------------------RRSS-----------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap");
.rrss {
  display: grid;
  grid-template-columns: 1, 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5rem;
  position: fixed;
  bottom: 50px;
  right: 30px;
  height: 10%;
  width: 2%;
  z-index: 2000;
}
.rrss img {
  width: 100%;
}

/*--------------------------FIN RRSS---------------------------*/
/* Navegador */
header {
  z-index: 999;
  background-color: var(--main-background);
  top: 0;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0;
  border-bottom: white 1px solid;
}
header nav ul {
  list-style-type: none;
  z-index: 100006;
}
header nav ul li a {
  text-decoration: none;
  color: var(--main-text-color);
  margin: 0 0.5rem;
  padding: 0 0.5rem;
}
header nav ul li a:hover {
  background-color: #363b3f;
  text-decoration: none;
  color: var(--main-text-color);
}
header nav ul li ul {
  list-style-type: none;
  display: none;
}
header nav ul li ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid white 1px;
  background-color: var(--main-background);
  z-index: 500;
}
header nav ul li ul li:hover {
  background-color: #363b3f;
  z-index: 500;
}
header nav ul li ul li a {
  font-size: 0.8rem;
  z-index: 500;
}
header nav ul li:hover ul {
  animation: opacities 0.6s;
  display: block;
  z-index: 1001;
  padding-top: 0.55rem;
  position: absolute;
  margin-left: -1.5rem;
  z-index: 1050;
}

/*------------------ Footer --------------------------------*/
footer {
  padding-top: 5%;
  margin: 1% 0;
  display: flex;
  justify-content: space-between;
}
footer p {
  padding: 0;
  margin: 0;
  font-size: 0.7rem;
  color: #4d4d4d;
}
footer a {
  text-decoration: none;
  color: var(--main-link-color);
  padding-right: 50%;
}

/*------------------ Fin Footer ------------------------------*/
/*--------------------------- Servicios ----------------------------*/
.subtitle {
  display: flex;
  justify-content: center;
  padding: 2% 0 5% 0;
}

.grid-item {
  background-color: #363b3f;
  border: white 1px solid;
  padding: 10%;
}
.grid-item:hover {
  transform: scale(1.02);
  transition-property: all;
  transition-duration: 0.5s;
  background-color: #363b3f;
}

.link-int {
  text-decoration: none;
}

/*------------------------- Responsive -----------------------*/
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .nav ul li ul li {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  * {
    font-size: 20px !important;
  }

  .nav ul li ul li {
    display: none;
  }

  header {
    margin-top: 0;
  }
  header a img {
    margin: 0;
    padding: 0;
    width: 50%;
  }

  .header-end {
    position: sticky;
    top: 9px;
    z-index: 300;
  }

  nav {
    display: none;
  }

  .grid-item img {
    display: grid;
    width: 100%;
    height: 100%;
    justify-self: center;
  }

  .grid-item p {
    display: grid;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .grid-item {
    margin: 0;
    padding: 0;
    align-self: center;
    align-items: center;
  }

  .nav-int {
    display: none;
  }

  footer {
    display: none;
  }

  .rrss {
    display: none;
  }
}
/*------------------ Fin Servicios---------------------------*/
/*---------------------- Contacto ---------------------------*/
#Comunicacion ul {
  width: 100%;
  border: 1px white solid;
  display: flex;
  padding-left: 5%;
}
#Comunicacion ul li {
  font-family: var(--main-font-p);
  color: var(--main-text-color);
  margin: 3% 0;
}
#Comunicacion ul li img {
  width: 5%;
}

.map {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ubicacion h2 {
  display: flex;
  justify-content: center;
  padding: 4% 0 5% 0;
}

.formt {
  display: flex;
  justify-content: center;
  color: var(--main-text-color);
  font-family: var(--main-font-p);
}

/*-------------------- Fin Contacto -------------------------*/
/*-------------------- Responsive -------------------------*/
@media only screen and (max-width: 1400px) {
  #Comunicacion ul {
    border: none;
    list-style: none;
    display: list-item;
  }
  #Comunicacion ul li {
    border: none;
  }
  #Comunicacion ul a {
    font-size: 50%;
  }
}
/*------------------ Productos ------------------------------*/
#ecommerce {
  display: grid;
  grid-template-columns: repeat 6, 1fr;
  grid-template-rows: repeat 2, 1fr;
  grid-column-gap: 3rem;
  grid-auto-flow: column;
  padding: 3% 2% 5% 2%;
}

.nav-int {
  display: flex;
  justify-content: space-between;
}
.nav-int a {
  text-decoration: none;
}
.nav-int a:hover {
  text-decoration: underline;
}

.carousel-item h5 {
  font-family: var(--main-font-p);
  color: black;
}

.product-offers-li {
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.product-offers-li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--main-link-color);
}
.product-offers-li a:hover {
  text-decoration: underline;
}
.product-offers-li a:hover::after {
  content: ">";
}

/*------------------ Fin Productos ------------------------------*/
/*------------------------- Responsive -----------------------*/
@media only screen and (max-width: 768px) {
  .nav-int {
    display: none;
  }
}
/* --------------------------- INDEX --------------------------*/
/* Formato de contenido */
h1 {
  display: flex;
  font-family: var(--main-font-family);
  color: var(--main-title-color);
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  justify-content: center;
  font-size: 2rem;
  width: 100%;
}

h2 {
  font-family: var(--main-font-family);
  color: var(--main-title-color);
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  display: flex;
  justify-content: left;
  padding-top: 2%;
}

/* Ofrecimientos */
.offers-container .offers-title {
  display: flex;
  margin-top: 2%;
  padding-left: 35%;
}
.offers-container .offers {
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.offers-container .offers a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--main-link-color);
}
.offers-container .offers a:hover {
  text-decoration: underline;
}
.offers-container .offers a:hover::after {
  content: ">";
}
.offers-container .offers p {
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
}

.card-text {
  color: black !important;
}

/*--------------------------- FIN INDEX ----------------------------*/
@media only screen and (max-width: 1200px) {
  .offers {
    flex-direction: column;
  }

  .card {
    width: 75%;
    margin-bottom: 5rem;
  }
}
/*Declaración de variables*/
* {
  --main-title-color: rgb(65, 228, 136);
  --main-text-color: #ffffff;
  --main-background: rgb(4, 9, 12);
  --main-link-color: rgb(49, 136, 207);
}

/* Importo las fuentes como a través de Media */
* {
  /* Fuentes */
  font-size: 22px;
  --main-font-family: "Josefin Sans", sans-serif;
  --main-font-p: "Roboto", sans-serif;
  /* Box Modeling - Reseteo de margin y padding */
  padding: 0;
  margin: 0;
}

/* Formato de contenido */
h1 {
  display: flex;
  font-family: var(--main-font-family);
  color: var(--main-title-color);
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  justify-content: center;
  font-size: 1.7rem;
  width: 100%;
}

h2 {
  font-family: var(--main-font-family);
  color: var(--main-title-color);
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  display: flex;
  justify-content: left;
  padding-top: 2%;
}

h4 {
  color: var(--main-text-color);
  font-family: var(--main-font-family);
  margin: 3% 10%;
}

p {
  color: var(--main-text-color);
  font-family: var(--main-font-p);
}

/* Color de background general*/
body {
  background-color: var(--main-background);
}

@keyframes opacities {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 10%;
  }
  20% {
    opacity: 20%;
  }
  30% {
    opacity: 30%;
  }
  40% {
    opacity: 40%;
  }
  50% {
    opacity: 50%;
  }
  60% {
    opacity: 60%;
  }
  70% {
    opacity: 70%;
  }
  80% {
    opacity: 80%;
  }
  90% {
    opacity: 90%;
  }
  100% {
    opacity: 100%;
  }
}
.prueb {
  border: 1px white solid;
}

/*# sourceMappingURL=style.css.map */
