/*------------------ Footer --------------------------------*/
footer{
    display: flex; 
    border: solid 1px white;
    justify-content: space-between;
    p{
        color: rgb(77, 77, 77); 
        border: 1px white solid;
        display: flex;
        justify-content: left;
        font-size: 0.7rem;
        margin-right: 25%;
    }
    .home{
        text-decoration: none;
        color: var(--main-link-color);
        display:flex;
        justify-content: center;
    }
    .rrss{
        display: flex;
        justify-content: right;

        a{
            margin: 0 1rem;
            width: 10%;
                img{
                    border: 1px white solid;
                    width: 100%;
                }
            }
        }
    }


/*------------------ Fin Footer ------------------------------*/
