/*------------------ Footer --------------------------------*/
footer{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border-top: 1px white  solid;
    padding: 1rem 0;
    p{
        color: rgb(77, 77, 77); 
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: 0.7rem;
        margin-right: 25%;
    }
    .home{
        text-decoration: none;
        color: var(--main-link-color);
        display:flex;
        justify-content: center;
    }
    .rrss{
        display: flex;
        justify-content: right;

        a{
            margin: 0 1rem;
            width: 10%;
                img{
                    width: 100%;
                }
            }
        }
    }


/*------------------ Fin Footer ------------------------------*/
