
    /* Navegador */

    header{
        z-index: 999;
        background-color: var(--main-background);
        top: 0;
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0;
        border-bottom: white 1px solid;
        nav{
            ul{
                list-style-type: none;
                z-index: 100006;
                li{
                    a{
                        text-decoration: none;
                        color: var(--main-text-color);
                        margin: 0 0.5rem;
                        padding: 0 0.5rem;
                        &:hover{
                            background-color: rgb(54, 59, 63);
                            text-decoration: none;
                            color: var(--main-text-color);
                        }
                    }
                    ul{
                        list-style-type: none;
                        display: none;
                        li{
                            padding-top: 10px;
                            padding-bottom: 10px;
                            border: solid white 1px;
                            background-color: var(--main-background);
                            z-index: 500;
                            &:hover{
                                background-color: rgb(54, 59, 63);
                                z-index: 500;
                            }
                            a{
                                font-size: 0.8rem;
                                z-index: 500;
                            }
                        }
                    }
                    &:hover{
                        ul{
                            animation: opacities 0.6s;
                            display: block;
                            z-index: 1001;
                            padding-top: 3px;
                            position: absolute;
                            margin-left: -2rem;
                            z-index: 1050;
                        }
                    }
                }
            }
        }
    }


