/*------------------ Productos ------------------------------*/
#ecommerce{
    display:grid;
    grid-template-columns: repeat (6, 1fr);
    grid-template-rows: repeat (2, 1fr);
    grid-column-gap: 3rem;
    grid-auto-flow: column;
    padding: 3% 2% 5% 2%;
}

.nav-int{
    display: flex;
    justify-content: space-between;
    a{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}

.carousel-item{
    h5{
        font-family: var(--main-font-p);
        color: black; 
    }
}

.product-offers-li{
        width: 100%;
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: var(--main-link-color);
            &:hover::after{
                content: ">";
            }
        }
}
/*------------------ Fin Productos ------------------------------*/