/* Importo las fuentes como a través de Media */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap');

*{
    /* Fuentes */
    font-size: 22px;
    --main-font-family: 'Josefin Sans', sans-serif;
    --main-font-p: 'Roboto', sans-serif;
    /* Box Modeling - Reseteo de margin y padding */
    padding: 0;
    margin: 0;
}

/* Formato de contenido */
h1{
    display:flex;
    font-family: var(--main-font-family);
    color: var(--main-title-color);
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    justify-content: center;
    font-size: 1.7rem;
    width: 100%;
}

h2{
    font-family: var(--main-font-family);
    color: var(--main-title-color);
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    display: flex;
    justify-content: left;
    padding-top: 2%;
}

h4{
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    margin: 3% 10%;
}

p{
    color: var(--main-text-color);
    font-family: var(--main-font-p);
}